- action_type = @distributor.id.nil? ? 'create-location' : 'update-location'
= form_for @distributor , url: ENV["pre_fix_url"]+place_bulk_order_path(action_type: action_type), class: 'form' do |f|
  - if @distributor.id.present?
    =  hidden_field_tag "distributor_id", @distributor.id
  - if @shop_customer && @shop_customer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shop_customer.errors.count, "error")} prohibited this Location from being saved on shop:"
      %ul
        - @shop_customer.errors.full_messages.each do |msg|
          %li= msg        
  - if @distributor && @distributor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@distributor.errors.count, "error")} prohibited this Location from being saved on app:"
      %ul
        - @distributor.errors.full_messages.each do |msg|
          %li= msg 
  %fieldset
    %legend Location Information
    .input-group        
      .field
        = f.label :first_name
        = f.text_field :first_name , class: 'form-control'
    .input-group
      .field
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control'
    .input-group
      .field
        = f.label :email
        = f.text_field :email, class: 'form-control'
    .input-group    
      .field
        = f.label :verified_email
        = f.check_box :verified_email
  %fieldset
    %legend Address Information
    = f.fields_for :addresses, @address do |a| 
      .input-group
        .field
          = a.label :province, "Region"
          = a.text_field :province, class: 'form-control'
      .input-group
        .field
          = a.label :first_name , "Market"
          = a.text_field :first_name, class: 'form-control'
      .input-group
        .field
          = a.label :last_name , "Location Name"
          = a.text_field :last_name, class: 'form-control'
      .input-group
        .field
          = a.label :address1 , "Location Address"
          = a.text_field :address1, class: 'form-control'
      .input-group
        .field
          = a.label :city, "Location City"
          = a.text_field :city, class: 'form-control'
      .input-group
        .field
          = a.label :zip, "Location Zip Code"
          = a.text_field :zip, class: 'form-control'
      .input-group
        .field
          = a.label :phone, "Location Phone Number"
          = a.text_field :phone, class: 'form-control'
      .input-group
        .field
          = a.label :country
          %br
          = a.text_field :country, class: 'form-control' , disabled: true, value: 'United States'
          = a.hidden_field :country, value: 'United States'
  %br
  .actions.input-group
    = f.submit 'Save', class: 'btn btn-primary'
