%h1 Listing distributors

%table.table.table-striped
  %thead
    %tr
      %th #
      %th First name
      %th Last name
      %th Email
      %th Verified email
      %th
      %th

  %tbody
    = form_tag('/set_distributors_for_bulk', method: :post) do 
      - @distributors.each do |distributor|
        %tr
          %td= check_box_tag  'order[]distributor[]', distributor.id
          %td= distributor.first_name
          %td= distributor.last_name
          %td= distributor.email
          %td= distributor.verified_email
      %tr
        %td{colspan: '2'}
          = submit_tag 'Save Distributors for bulk order' ,class: 'btn btn-primary'
%br
