= params.inspect
= session[:bulk_order].inspect
%h1 Locations
- pre_selection = params[:locations]||[]
= form_tag("/tools/place_bulk_order", method: :post) do 
  = hidden_field_tag "action_type", "save-location-list"
  = hidden_field_tag "products[]", params[:products]||[]
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Location
        %th Email
        %th Verified email
    %tbody
      - @distributors.each do |distributor|
        %tr
          %td= check_box_tag  'distributors[]', distributor.id, pre_selection.include?(distributor.id.to_s), class: 'distributor'
          %td= "#{distributor.first_name} #{distributor.last_name}"
          %td= distributor.email
          %td= distributor.verified_email
          %td= link_to 'Edit', edit_distributor_url(distributor)
  = submit_tag 'Save Locations for bulk order' ,class: 'btn btn-primary update-distributor'
%br

= link_to 'New Location', new_distributor_url ,class: 'btn btn-success'
=# link_to 'Sync from Shop', sync_distributors_path ,class: 'btn btn-success'