%h1 Products
- pre_selection = params[:products]||[]
= form_tag(ENV["pre_fix_url"]+"/place_bulk_order", method: :post) do 
  = hidden_field_tag "action_type", "save-product-list" 
  - (params[:locations]||[]).each do |v|
    = hidden_field_tag "locations[]", v
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Image
        %th Name
        %th Price
    %tbody
      - @products.each do |product|
        %tr
          %td= check_box_tag  "products[]", product.id, pre_selection.include?(product.id.to_s)
          %td= image_tag product.image.src, class: 'product-image' ,width: 50
          %td= product.title
          %td= product.price_varies ? (product.price_min.to_s +'-'+ product.price_max.to_s) : product.price
  = submit_tag 'Save Products for bulk order' ,class: 'btn btn-primary'
