= params.inspect
= session[:bulk_order].inspect
%h1 Products
- pre_selection = params[:products]||[]
= form_tag("/tools/place-bulk-order", method: :post) do 
  = hidden_field_tag "action_type", "save-product-list" 
  = hidden_field_tag "locations", params[:locations]||[]
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Image
        %th Name
        %th Created at
    %tbody
      - @products.each do |product|
        %tr
          %td= check_box_tag  "products[]", product.id, pre_selection.include?(product.id.to_s)
          %td= image_tag product.image.src, class: 'product-image' ,width: 50
          %td= product.title
          %td= product.created_at
  = submit_tag 'Save Products for bulk order' ,class: 'btn btn-primary'
