%h1 Products
- pre_selection = params[:products]||[]
= form_tag(ENV["pre_fix_url"]+"/place_bulk_order", method: :post) do 
  = hidden_field_tag "action_type", "save-product-list" 
  - (params[:locations]||[]).each do |v|
    = hidden_field_tag "locations[]", v
  %table.table.table-striped
    %thead
      %tr
        %th 
        %th 
        %th Product Name
        %th Price 
        %th Qty
        %th Lead-Time
        %th Additionals
    %tbody
      - @products.each do |product|
        - custom_product = Product.find_by_shopify_product_id(product.id)
        %tr
          %td= check_box_tag  "products[]", product.id, pre_selection.include?(product.id.to_s)
          %td
            = link_to image_tag(product.image.src, style: 'height:50px;') , ENV["pre_fix_url"]++place_bulk_order_path(action_type: 'product-detail-pop', product_id: product.id), class: 'fancybox' , remote: true
            =# image_tag product.image.src, class: 'product-image' ,width: 50
          %td= product.title
          %td= "$#{product.variants.first.price}"
          %td= custom_product.min_quantity.blank? ? 'N/A' : "#{custom_product.min_quantity}"
          %td= custom_product.lead_time.blank? ? 'N/A' : "#{custom_product.lead_time}"
          %td
            - additional= "No"
            -product.variants.each_with_index do |variant,index|
              - if index != 0 
                - variant.attributes.each.each do |key, value|
                  -if ["quantity","color", "grams", "size"].include?(key.to_s)
                    - additional = "Yes"
                  =#"#{key.humanize}: #{value}, " 
            =additional  

  = submit_tag 'Save Products for bulk order' ,class: 'btn btn-primary'
