%h1 Products
- pre_selection = session[:bulk_order]['products']||[]
= form_tag("/tools/place-bulk-order?action_type=save-product-list", method: :post, turboboost: true ) do  
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Image
        %th Name
        %th Created at
    %tbody
      - @products.each do |product|
        %tr
          %td= check_box_tag  "products[]", product.id, pre_selection.include?(product.id.to_s)
          %td= image_tag product.image.src, class: 'product-image' ,width: 50
          %td= product.title
          %td= product.created_at
  = submit_tag 'Save Products for bulk order' ,class: 'btn btn-primary'
