= link_to 'Clear Bulk Order ', root_path(session_clear: true), class: 'btn btn-success clear-cacheing'
%h1 Place Bulk Order
- products = []
= form_tag('/bulk_order') do
  .row
    .col-xs-6.col-md-3
      %strong Distributors
      =link_to '' , '/get_distributors' , class: 'btn glyphicon glyphicon-plus btn-primary'
      %strong Product
      =link_to '' , products_path , class: 'btn glyphicon glyphicon-plus btn-primary'
  %hr   
  .row
    - if  session[:bulk_order].present? && session[:bulk_order]['products'].present?
      %div{class: "col-xs-12 col-md-2"}
        POP Element
      - session[:bulk_order]['products'].each do |product_id|
        - product = ShopifyAPI::Product.find(product_id) 
        - variant = product.variants.first
        - products << product
        %div{class: "col-xs-12", style: "width: 160px;"}
          = image_tag product.image.src, style: 'width:100px;'
          %br
          %br
          = product.title
          %br
          = variant.price
      %div{class: "col-xs-12 distributor-total-quantity total-info", style: "width: 160px;"}
        Total Quantity
      %div{class: "col-xs-12 distributor-total-amount total-info", style: "width: 160px;"}
        Total Price
  - if  session[:bulk_order].present? && session[:bulk_order]['distributors'].present?
    - session[:bulk_order]['distributors'].each do |distributor_id|
      - customer = ShopifyAPI::Customer.find(distributor_id) 
      .row
        %div{class: "col-xs-12 col-md-2"}
          = "#{customer.first_name} #{customer.last_name}"
          %br
          = customer.email
          - if @error_message.present? && @error_message[distributor_id].present?
            .error-message
              = @error_message[distributor_id]
        - products.each do |product|
          - variant = product.variants.first
          %div{class: "col-xs-12", style: "width: 160px;"}
            - if @orders.present?
              - value = params[:order][:distributors][distributor_id]['product'][product.id.to_s]['quantity']
            - else
              - value = ''
            =  text_field_tag "order[distributors][#{distributor_id}][product][#{product.id}]quantity" , value , class: "form-control order-quantity product-#{product.id} distributor-#{distributor_id}", placeholder: 'Quantity', id: "order-#{distributor_id}-#{product.id}", product_price: variant.price
        %div{class: "col-xs-12 distributor-total-quantity-#{distributor_id}", style: "width: 160px;"}
          0
        %div{class: "col-xs-12 distributor-total-amount-#{distributor_id}", style: "width: 160px;"}
          0
    .row
      %div{class: "col-xs-12 col-md-2 total-info"}
        Total Quantity
      - products.each do |product|
        %div{class: "col-xs-12 product-total-quantity-#{product.id}", style: "width: 160px;"}
          0
    .row.total-price
      %div{class: "col-xs-12 col-md-2 total-info"}
        Total Price
      - products.each do |product|
        %div{class: "col-xs-12 product-total-amount-#{product.id}", style: "width: 160px;"}
          0
    = submit_tag "Place Order ", class: 'btn btn-primary'            
%br

=# link_to 'New Distributor', new_distributor_path ,class: 'btn btn-primary'
=# link_to 'Sync from Shop', sync_distributors_path ,class: 'btn btn-primary'



