!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ShopifyOrderApp
    :javascript
      var pre_fix_url = "#{ENV['pre_fix_url']}";
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}
    = csrf_meta_tags
  %body
    %nav#navbar.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        %h6 &nbsp;
        .row
          .col-md-2.col-sm-2.col-xs-2{:style => "max-width:160px;"}
            %h5
              = link_to 'Choose Locations' , ENV["pre_fix_url"]+place_bulk_order_path(action_type: 'list-location', locations: session[:bulk_order]['distributors']||[], products: session[:bulk_order]['products']||[]), class: 'text-gray', id: 'nav1'
          .col-md-1.col-sm-1.col-xs-1{:style => "max-width:60px;"}
            %h5
              %i.fa.fa-caret-right.text-gray
          .col-md-2.col-sm-2.col-xs-2{:style => "max-width:160px;"}
            %h5
              = link_to 'Select Products' , ENV["pre_fix_url"]+place_bulk_order_path(action_type: 'list-product', locations: session[:bulk_order]['distributors']||[], products: session[:bulk_order]['products']||[]), class: 'text-gray', id: 'nav2'
          .col-md-1.col-sm-1.col-xs-1{:style => "max-width:60px;"}
            %h5
              %i.fa.fa-caret-right.text-gray
          .col-md-2.col-sm-2.col-xs-2{:style => "max-width:160px;"}
            %h5
              = link_to 'Allocate Products', ENV["pre_fix_url"]+place_bulk_order_path(), class: 'text-gray', id: 'nav3'
          .col-md-1.col-sm-1.col-xs-1{:style => "max-width:60px;"}
            %h5
              %i.fa.fa-caret-right.text-gray
          .col-md-2.col-sm-2.col-xs-2{:style => "max-width:190px;"}
            .select-wrapper
              = select_tag "shipping_type", options_for_select(get_shipping_options), class: "form-control text-center", style: "font-size:13px; height:30px;"
          .col-md-2.col-sm-2.col-xs-2.pull-right
            = link_to 'Clear Bulk Order ', ENV["pre_fix_url"]+place_bulk_order_path(action_type: 'session_clear'), class: 'btn btn-success pull-right'
        %hr.hr-full/
    .container-fluid{style: "margin-top:100px;"}
      = yield
:javascript
  $(document).ready(function(){
      $("#datatable").each(function() {
          var $this = $(this);
          var newrows = [];
          $this.find("tr").each(function(){
              var i = 0;
              $(this).find("td").each(function(){
                  i++;
                  if(newrows[i] === undefined) { newrows[i] = $("<tr></tr>"); }
                  newrows[i].append($(this));
              });
          });
          $this.find("tr").remove();
          $.each(newrows, function(){
              $this.append(this);
          });
      });
      
      return false;
  });

  $( "#datatable-wrapper" ).scroll(function() {
    x = $(this).scrollLeft();
    $('#datatable-shadow').scrollLeft(x)
  });

  function check_val(obj,min){
    cur_val = $(obj).val();
    if((cur_val < min || isNaN(cur_val)) && cur_val.length != 0)
      $(obj).addClass('error');
    else
      $(obj).removeClass('error');
  }